/* Game Boards - Tables */
table {
    border-collapse: collapse;
    width: 400px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
    margin-bottom: 50px;
}

table#player1_board {
    margin-left: 30px;
}

table#player2_board {
    margin-right: 18px;
}

tbody {
    background-color: rgb(14, 24, 80);
    background-image: url('../img/radar2.gif');
    background-position: 4px;
    background-repeat: no-repeat;
}

th {
    width: 35px;
    height: 35px;
    background-color: hsl(201, 83%, 21%);
}

td {
    width: 35px;
    height: 35px;
    outline: 1.5px solid hsla(0, 0%, 100%, 0.527);
    border-radius: 3.2px;
    transition: 0.1s ease all; 
    cursor: pointer;
}

/* Ship Areas */
.game .me {
    height: 75px;
}

.ship-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    column-gap: 10rem;
}

.ship-area .ship {
    margin-top: 12px;
    text-align: left;
}

.ship-area .player-ships .ship .clr.one {
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.ship-area .player-ships .ship .clr.one.dark-mode {    
    background: linear-gradient(180deg, #777, #3a3a3a);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.ship-area .player-ships .ship .clr.two {
    background: linear-gradient(180deg, #ee7571, #d8260b);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.ship-area .player-ships .ship .clr.two.dark-mode {
    background: linear-gradient(180deg, #7d3434, #bd2121);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text;
}

.ship-area .ship input {
    display: inline-block;
    border: 1px solid transparent;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    color: black;
}

/* Game Buttons */
.div-game-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    gap: 30px;
}

.div-game-btns .ready-btn {
    display: inline-block;
    color: white;
    border: 1px solid transparent;
    background: linear-gradient(180deg, #389bdd, #2b7996);
    padding: 12px 40px;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}
  
.div-game-btns .ready-btn:hover  {
    background: linear-gradient(180deg, #389bdd, #468095);
}

.div-game-btns .reset-btn {
    display: inline-block;
    color: white;
    border: 1px solid transparent;
    background: linear-gradient(180deg, #10c546, #0d9235);
    padding: 12px 40px;
    line-height: 1.4;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 30px;
}
  
.div-game-btns .reset-btn:hover  {
    background: linear-gradient(180deg, #10c546, #0c8831);
}

/* Game Info */
.div-game-inf {
    display: block;
    align-items: center;
    justify-content: center;
}

.div-game-inf h2 {
    text-align: center;
}