/* Root Features */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: white;
}

/* Battleship Game - Index Webpage */
header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
    z-index: 1000;
}

.logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    transition: all .55s ease; 
}

.logo:hover {
    color: rgba(214, 215, 216, 0.591);;
}

.navList {
    display: flex;
}

.navList a {
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease; 
}

.navList a:hover {
    color: rgba(214, 215, 216, 0.591);
}

#menu-icon {
    color: white;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.home {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#49c1f9, 20%, rgb(6, 38, 58));
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section.home {
    padding: 0 18%;
}

.home-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: white;
    margin: 0 0 40px;
}

.home-text h4 {
    font-size: 18px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.home-text p {
    color: white;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 40px;
    text-align: justify;
}

.game-image img {
    width: 750px;
    height: auto;
}

.home-text a {
    display: inline-block;
    color: white;
    background: rgba(214, 215, 216, 0.591);
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.home-text a:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateY(-8px);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  overflow: auto;
  z-index: 2;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.show {
    display: block;
}

.s-p, .m-p {
    text-align: center;
    margin-left: 16px;
    margin-top: 6px;
}

.home-text a.cta {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.home-text a i {
    vertical-align: middle;
    margin-right: 5px;
}

.goto-github {
    position: fixed;
    bottom: 5%;
    right: 9%;
}

.goto-github i {
    display: block;
    padding: 12px;
    font-size: 20px;
    color: white;
    background: rgba(214, 215, 216, 0.591);
    border-radius: 30px;
    transition: all .50s ease;
}

.goto-github i:hover {
    transform: translateY(5px);
}

@media (max-width: 1640px) {
    section.home {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .game-image img {
        width: 700px;
        height: auto;
    }

    .goto-github {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1470px) {
    .game-image img {
        width: 600px;
        height: auto;
    }

    .home-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }
}

@media (max-width: 1250px) {
    section.home {
        padding: 0 3%;
        transition: .2s;
    }

    .home-text {
        padding-top: 115px;
    }   
}

@media (max-width: 1135px) {
    .game-image {
        text-align: center;
    }

    .game-image img {
        width: 560px;
        height: auto;
    }

    .home {
        height: 100%;
        gap: 5rem;
        grid-template-columns: 1fr;
    }

    .home-text {
        padding-right: 200px;
    } 
}

@media (max-width: 880px) {
    #menu-icon {
        display: block;
    }

    .home-text {
        padding-right: 0;
    } 

    .navList {
        position: absolute;
        top: 20%;
        right: -100%;
        width: 180px;
        height: 15vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 18px 20px;
        background: rgba(214, 215, 216, 0.591);
        border-radius: 30px;
        transition: all 0.9s ease;
    }

    .navList a {
        margin-left: 0;
        display: block;
        margin: 2px 0;
        font-size: 13.5px;
    }

    .navList.open {
        right: 8px;
    }
}

@media (max-width: 630px) {
    .game-image img {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 512px) {
    .home-text h1 {
        font-size: 60px;
    }

    .game-image img {
        width: 380px;
        height: auto;
    }

    .home-text p {
        font-size: 14px;
    } 
}

@media (max-width: 400px) {
    .home-text h1 {
        font-size: 50px;
    }

    .game-image img {
        width: 350px;
        height: auto;
    }

    .home-text a {
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    .game-image img {
        width: 320px;
        height: auto;
    }

    .home-text a {
        font-size: 10px;
    }
}
/* Battleship Game - Index Webpage */

/* Battleship Game - Game Rules Webpage */
.rules {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#49c1f9, 20%, rgb(6, 38, 58));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

section.rules {
    padding: 0 18%;
}

.rules-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 75px;
    line-height: 1;
    color: white;
    margin: 0 0 20px;
}

.rules-text h4 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}

.rules-text .sect {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.rules-text p {
    color: white;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 10px;
    font-weight: 200;
    text-align: justify;
}

.game-image img {
    width: 750px;
    height: auto;
}

.rules-text a {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    transition: all .55s ease;
}

.rules-text a:hover {
    transform: translateY(-8px);
}

.rules-text a.cta {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.rules-text a i {
    vertical-align: middle;
    margin-right: 5px;
}

@media (max-width: 1640px) {
    section.rules {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .game-image img {
        width: 700px;
        height: auto;
    }

    .goto-github {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1470px) {
    .game-image img {
        width: 600px;
        height: auto;
    }

    .rules-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }
}

@media (max-width: 1250px) {
    section.rules {
        padding: 0 3%;
        transition: .2s;
    }

    .rules-text {
        padding-top: 115px;
    }   
}

@media (max-width: 1135px) {
    .game-image {
        text-align: center;
    }

    .game-image img {
        width: 560px;
        height: auto;
    }

    .rules {
        height: 100%;
        gap: 5rem;
        grid-template-columns: 1fr;
    }

    .rules-text {
        padding-right: 200px;
    } 
}

@media (max-width: 880px) {
    #menu-icon {
        display: block;
    }

    .rules-text {
        padding-right: 0;
    } 

    .navList {
        position: absolute;
        top: 20%;
        right: -100%;
        width: 180px;
        height: 15vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 18px 20px;
        background: rgba(214, 215, 216, 0.591);
        border-radius: 30px;
        transition: all 0.9s ease;
    }

    .navList a {
        margin-left: 0;
        display: block;
        margin: 2px 0;
        font-size: 13.5px;
    }

    .navList.open {
        right: 8px;
    }
}

@media (max-width: 630px) {
    .game-image img {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 512px) {
    .rules-text h1 {
        font-size: 60px;
    }

    .game-image img {
        width: 380px;
        height: auto;
    }

    .rules-text p {
        font-size: 14px;
    } 
}

@media (max-width: 400px) {
    .rules-text h1 {
        font-size: 50px;
    }

    .game-image img {
        width: 350px;
        height: auto;
    }

    .rules-text a {
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    .game-image img {
        width: 320px;
        height: auto;
    }

    .rules-text a {
        font-size: 10px;
    }
}
/* Battleship Game - Game Rules Webpage */

/* Battleship Game - About Us Webpage */
.about {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#49c1f9, 20%, rgb(6, 38, 58));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

section.about {
    padding: 0 18%;
}

.about-text h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 75px;
    line-height: 1;
    color: white;
    margin: 0 0 20px;
}

.about-text h4 {
    font-size: 18px;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
}

.about-text .sect {
    font-size: 18px;
    font-weight: 400;
    color: white;
}

.about-text p {
    color: white;
    font-size: 15px;
    line-height: 1.8;
    margin-bottom: 10px;
    font-weight: 200;
    text-align: justify;
}

.game-image img {
    width: 750px;
    height: auto;
}

.about-text a {
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
    transition: all .55s ease;
}

.about-text a:hover {
    transform: translateY(-8px);
}

.about-text a.cta {
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}

.about-text a i {
    vertical-align: middle;
    margin-right: 5px;
}

a.dept, a.wgame {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 15.5px;
}

a.dept:hover, a.wgame:hover {
    color: rgba(214, 215, 216, 0.591);
    cursor: pointer;
}

.dev-section {
    display: flex;
    justify-content: center;
}

.dev-section .devs  {
    text-align: center;
    margin: 0 60px; 
}

.dev-section .devs img.developer {
    border-radius: 50%;
    width: 150px;
    height: 150px;  
}

.dev-section .devs .dev-name {
    padding-top: 20px;
}

.dev-section .devs .dev-name .our-social {
    font-size: 21px;
}

@media (max-width: 1640px) {
    section.about {
        padding: 0 12%;
        transition: .2s;
    }
}

@media (max-width: 1535px) {
    header {
        padding: 15px 3%;
        transition: .2s;
    }

    .game-image img {
        width: 700px;
        height: auto;
    }

    .goto-github {
        right: 3%;
        transition: .2s;
    }
}

@media (max-width: 1470px) {
    .game-image img {
        width: 600px;
        height: auto;
    }

    .about-text h1 {
        font-size: 75px;
        margin: 0 0 30px;
    }
}

@media (max-width: 1250px) {
    section.about {
        padding: 0 3%;
        transition: .2s;
    }

    .about-text {
        padding-top: 115px;
    }   
}

@media (max-width: 1135px) {
    .game-image {
        text-align: center;
    }

    .game-image img {
        width: 560px;
        height: auto;
    }

    .about {
        height: 100%;
        gap: 5rem;
        grid-template-columns: 1fr;
    }

    .about-text {
        padding-right: 200px;
    } 

    .dev-section .devs  {
        margin: 0 10px; 
    }
}

@media (max-width: 880px) {
    #menu-icon {
        display: block;
    }

    .about-text {
        padding-right: 0;
    } 

    .navList {
        position: absolute;
        top: 20%;
        right: -100%;
        width: 180px;
        height: 15vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 18px 20px;
        background: rgba(214, 215, 216, 0.591);
        border-radius: 30px;
        transition: all 0.9s ease;
    }

    .navList a {
        margin-left: 0;
        display: block;
        margin: 2px 0;
        font-size: 13.5px;
    }

    .navList.open {
        right: 8px;
    }
}

@media (max-width: 710px) {
    .dev-section {
        display: block;
    }

    .dev-section .devs .dev-name {
        padding-bottom: 20px;
    }
}

@media (max-width: 630px) {
    .game-image img {
        width: 450px;
        height: auto;
    }
}

@media (max-width: 512px) {
    .about-text h1 {
        font-size: 60px;
    }

    .game-image img {
        width: 380px;
        height: auto;
    }

    .about-text p {
        font-size: 14px;
    } 
}

@media (max-width: 400px) {
    .about-text h1 {
        font-size: 50px;
    }

    .game-image img {
        width: 350px;
        height: auto;
    }

    .about-text a {
        font-size: 12px;
    }
}

@media (max-width: 370px) {
    .game-image img {
        width: 320px;
        height: auto;
    }

    .about-text a {
        font-size: 10px;
    }
}
/* Battleship Game - About Us Webpage */

/* Footer Section */
footer {
    position: fixed;
    bottom: 4.5%;
    right: 20%;
}

footer span, footer span a {
    color: #f1f1f1;
    font-size: 14px;
}

footer span a:hover {
    color: rgba(214, 215, 216, 0.591);
    cursor: pointer;
}
/* Footer Section */